body{

    margin:0;
    padding:0;

}
section{
    padding :0 100px;
    background: url(contact.jpg);
    height:100vh;
    display: flex;
    align-items:center;
    line-height: 50px;;

}
.contact{
    position: relative;
    max-width:600px;
    padding:50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    left:30%
}
.image{
    align-items: center;
    justify-content: center;
    display: flex;
}